<div fxLayout="column" fxlayoutAlign="start stretch" fxFlexFill>
  <div fxFlex="none">
    <div fxFlex fxLayout="row">
      <div fxFlex="50" style="margin-left: 10px">Interface</div>
      <div fxFlex="50" style="margin-right: 20px" fxLayoutAlign="end start">Step 1 of 4</div>
    </div>
  </div>
  <app-green fxFlex style="border-radius: 10px; border: 2px solid #73ad21"></app-green>
  <!-- <div fxFlex style="border-radius: 10px; border: 2px solid #73ad21; margin-right: 5px"> -->
  <!-- </div> -->
</div>
