.mainQueryBodyContent {
  margin: 0.4em;
  font-size: 0.875em; /* 14px/16=0.875em */
}

.step {
  min-width: 240px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  transform: scale(0.9);
}
