<mat-drawer-container
  class="mainQueryBodyContent"
  color="primary"
  fxFlex
  [class.mat-elevation-z8]="true"
>
  <mat-drawer #drawer mode="over" opened position="start" style="width: 100%">
    <div fxFlex fxLayout="row" style="width: 100%" style="overflow: hidden">
      <div fxFlex="3"></div>
      <div fxFlex="94" style="overflow: auto; scrollbar-width: thin">
        <div fxFlex fxLayout="row">
          <div fxFlexFill fxLayoutAlign="start stretch" fxLayout="row" class="root">
            <app-date-range-picker fxFlex="40"></app-date-range-picker>
            <div fxFlex fxLayout="column">
              <app-search-list class="step" fxFlex></app-search-list>
              <app-search-list fxFlex class="step"></app-search-list>
            </div>
            <app-search-list fxFlex class="step"></app-search-list>
            <app-search-list fxFlex class="step"></app-search-list>
            <app-search-list fxFlex class="step"></app-search-list>
            <app-search-list fxFlex class="step"></app-search-list>
            <app-search-list fxFlex class="step"></app-search-list>
          </div>
        </div>
      </div>
      <div
        fxFlex="4"
        style="
          background-color: #6ea128;
          border: 2px solid gray;
          font-size: x-small;
          font-weight: bold;
          vertical-align: middle;
          color: white;
        "
      >
        <div fxFlex fxLayout="row" fxLayoutAlign="start center">
          <button style="background-color: transparent; border: none">
            <mat-icon>play_circle_filled</mat-icon>
            Apply
          </button>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content fxLayoutAlign="column">
    <div fxFlexFill fxLayoutAlign="start stretch" fxLayout="row" class="root">
      <app-date-range-picker fxFlex="40"></app-date-range-picker>
      <div fxFlex fxLayout="column">
        <app-search-list class="step" fxFlex></app-search-list>
        <app-search-list fxFlex class="step"></app-search-list>
      </div>

      <app-search-list fxFlex class="step"></app-search-list>
      <app-search-list fxFlex class="step"></app-search-list>
      <app-search-list fxFlex class="step"></app-search-list>
      <app-search-list fxFlex class="step"></app-search-list>
      <app-search-list fxFlex class="step"></app-search-list>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
