.header {
  background-color: red;
}

.mat-toolbar {
  min-height: 40px !important;
  height: 2.2em !important;
  padding-left: 0px;
  background-color: black;

  img {
    height: 2.2em;
  }
}

::ng-deep .mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-menu-item {
  line-height: 35px;
  height: 35px;
}

.report-title {
  text-decoration: none;
  font-weight: lighter;
  font-size: 0.8em;
}
