@import 'variables.scss';
.daterangepicker {
  border: 1px solid $clr-gray-5;
  margin: 5px;
  .ranges {
    border-bottom: 1px solid $clr-white-smoke;
    ul {
      padding: 4px;
      text-align: center;
      margin: 0 !important;
      li {
        display: inline-block;
        color: $clr-inactive;
        border: 1px solid $clr-white-smoke;
        border-radius: 3px;
        padding: 4px;
        cursor: pointer;
        margin-right: 0.2rem;
        &:first-child {
          margin-top: 1rem;
        }
        &:hover {
          background-color: $clr-hover !important;
          border: 1px solid $clr-hover !important;
          color: $white !important;
        }
        &.active {
          background-color: $clr-primary !important;
          border: 1px solid $clr-primary !important;
          color: $white !important;
        }
      }
    }
  }
  .calendar-left {
    border-right: 2px solid $clr-gray-5;
  }
  label {
    font-weight: bolder;
  }
  input {
    font-size: 0.75rem;
    text-align: center;
  }
  .invalid-date {
    border: 1px solid $red !important;
  }
  .disable-picker {
    pointer-events: none;
    opacity: 0.5;
  }
}
mat-calendar {
  width: 99%;
}
.mat-calendar-header {
  background-color: $black !important;
  color: $white !important;
  padding: 0 !important;
  width: 100% !important;
  button {
    font-size: 12px !important;
  }
}
.mat-calendar-body {
  font-size: 12px !important;
}
