<app-theme-switch style="display: none"></app-theme-switch>
<div class="app-container" fxLayout="column" fxLayoutAlign="start">
  <div class="header" fxFlex="3.5em" fxLayoutAlign="start center">
    <img src="../assets/images/logo.svg" alt="" style="height: 3.5em" />
    Reports - 5G Edge
  </div>
  <div class="body">
    <h2>Hello Bhushan!</h2>
  </div>
  <div class="helper" fxFlex fxFlexFill></div>
  <div class="footer" fxLayout="column" fxLayoutAlign="end center" color="primary">
    <a href="http://mean-dev.info/">MEAN-dev.info</a>
  </div>
</div>
