<mat-toolbar class="querytoolbar" [class.mat-elevation-z2]="true">
  <button mat-raised-button>
    <mat-icon>view_headline</mat-icon>
  </button>
  <button mat-raised-button>
    <mat-icon>filter_alt</mat-icon>
    Filter 1
  </button>
  <button mat-raised-button>
    <mat-icon>filter_alt</mat-icon>
    Filter 2
  </button>
  <button mat-raised-button>
    <mat-icon>filter_alt</mat-icon>
    Filter 3
  </button>
  <!-- <button mat-raised-button> -->
  <!-- <mat-icon>view_headline</mat-icon> -->
  <!-- Add to Cart -->
  <!-- </button> -->
  <!-- <button mat-icon-button class="example-icon"> -->
  <!-- <mat-icon>receipt</mat-icon> -->
  <!-- </button> -->
  <!-- <button class="example-icon" style="border: 1px solid black; text-align: top"> -->
  <!-- <mat-icon>filter_list</mat-icon> -->
  <!-- sample -->
  <!-- </button> -->
  <!-- <button mat-raised-button> -->
  <!-- <mat-icon>view_headline</mat-icon> -->
  <!-- Add to Cart -->
  <!-- </button> -->
</mat-toolbar>
