.mat-card {
  height: 90% !important;
  position: relative;
  overflow: auto;
}

.list-search-card button {
  transform: scale(0.7);
}

.list-search-card-searchlist {
  list-style: none;
  padding: 15px;
  max-height: 280px;
  font-size: 0.8em;
  overflow: auto;
}
.list-search-card-searchlist li {
  padding: 0px;
  margin: 0px;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 10px;
  height: 10px;
}
