<mat-card class="list-search-card">
  <mat-card-header>
    <div style="font-size: 18px">
      <input matInput class="list-search-card-input" type="text" [(ngModel)]="searchValue" />
    </div>
    <mat-card-subtitle>Interface</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <ul class="list-search-card-searchlist">
        <li *ngFor="let student of students">
          <mat-checkbox>
            {{ student }}
          </mat-checkbox>
        </li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>
      <mat-icon>check_circle</mat-icon>
    </button>
    <button mat-raised-button>
      <mat-icon>check_circle_outline</mat-icon>
    </button>
    <button mat-raised-button>
      <mat-icon>repeat</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
