button {
  transform: scale(0.7);
}

.list-search-card {
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.5em;
}

.list-search-card-searchlist {
  list-style: none;
  font-weight: normal;
  padding: 0px;
  padding-left: 5px;
  font-size: 1em;
  overflow: auto;
}
